<div class="container" id="form">
  <h2 class="formAdd" >Add a New Article</h2>
  
  <form action="/profile/add" method="POST" enctype="multipart/form-data">

    <label class="fields">
      Title
      <br><br>
      <input class="input-bottom-line log" type="text" name="title" placeholder="title"/>
    </label>

    <br><br>

    <label class="fields">
      URL
      <br><br>
      <input class="input-bottom-line log" type="text" name="url" placeholder="url"/>
    </label>

    <br><br>

    <label class="fields">
      Description
      <br><br>
      <input class="input-bottom-line log" type="text" name="description" placeholder="description"/>
    </label>

    <br><br>

    <label class="fields">Image:</label>
    
    <br><br>

        <input type="file" name="imageUrl"/>
    </label>

    <br><br><br>
    


    <label class="fields" for="categories">Choose a News Category</label>
    <br><br>
      <select class="dropDown" name="categories">
        {{#each cat}}
  
        <option value="{{this._id}}">{{this.name}}</option>
       {{/each}}
      </select>
      </label>

      <br><br>
   
    <button class="button-green" type="submit">Add</button>

  </form>

  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}}
</div>