<div id="form">
  <h2>Add a new Article</h2>
  <form action="/profile/add" method="POST" enctype="multipart/form-data">

    <label>
      Title
      <input type="text" name="title" placeholder="title"/>
    </label>

    <label>
      URL
      <input type="url" name="url" placeholder="url"/>
    </label>

    <label>
      Description
      <input type="text" name="description" placeholder="description"/>
    </label>

    <label>Image:</label>
        <input type="file" name="imageUrl"/>
    </label>


    <label for="categories">Choose a News Category</label>
      <select name="categories">
        {{#each cat}}
  
        <option value="{{this._id}}">{{this.name}}</option>
       {{/each}}
      </select>
      </label>
   
    <button type="submit">Add</button>

  </form>

  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}}
</div>