<div id="form">

  <h1>Categories</h1>
  <form action="/categories" method="POST">
      <div class="category">
        <h2>General</h2>
        <img src="" />
      </div >
      <div class="category">
        <h2>Business</h2>
        <img src="" />
      </div>
      <div class="category">
        <h2>Entertainment</h2>
        <img src="" />
      </div>
      <div class="category">
        <h2>Health</h2>
        <img src="" />
      </div>
      <div class="category">
        <h2>Science</h2>
        <img src="" />
      </div>
      <div class="category">
        <h2>Sports</h2>
        <img src="" />
      </div>

     <button type="submit">Save</button>
  </form>

</div>