<div id="margin">

  <form class="formLogin"action="/categories" method="POST">
  <img class="logoLogin" src="/images/logo.png">
  <h2 class="login">Login</h2>
    <label>
      Email
      <input class="input-bottom-line" type="text" name="email" placeholder="Email" />
    </label>

    <label>Password
      <input class="input-bottom-line" type="password" name="password" placeholder="********" />
    </label>

    <button class="button-green width" type="submit">Login</button>

  </form>
  
  <form class="formSignup "action="/signup" method="POST">
   <p>Don`t you have an account?</p>
   
   <h3>
  <a href="signup">Sign up</a>
  </form>
  </h3>

  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}} 

</div>


