<div class="containerSign">
  <div><img class="logo" src="/images/logo.png"></div>
  <br><br>
  <h2 class="login">Login</h2>
  
  <br><br>


  <form id="form2" action="/login" method="POST">
  
    <label class="fields">
      Email
      <br><br>
      <input class="input-bottom-line log" type="text" name="email" placeholder="Email" />    
    </label>

    <br><br>

    <label class="fields">
      Password
      <br><br>
      <input class="input-bottom-line log" type="password" name="password" placeholder="********" />
   
    </label>
    
    <br><br><br>

    <button class="button-green btn" type="submit">Login</button>
<br><br><br><br>
  </form>
  
  <form class="formSignup "action="/signup" method="GET">
   <br><br><br><br>

   <p>Don't have an account?</p>

   <h3><br>
  <a href="signup">Sign up</a>
  </form>
  </h3>

  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}} 

</div>


