<div>

  <form class="formLogin "action="/login" method="POST">
  <img class="logo" src="/images/logo.png">
  <h2 class="login">Login</h2>

  <br><br>
    <label><br>
      Email
      <input class="input-bottom-line" type="text" name="email" placeholder="Email" />
    <br><br>
    </label>

    <label>Password
      <input class="input-bottom-line" type="password" name="password" placeholder="********" />
    </label>
    <br><br>

    <button class="button-green" type="submit">Login</button>
<br><br><br><br>
  </form>
  
  <form class="formSignup "action="/signup" method="GET">
   <p>Don`t you have an account?</p>
   
   <h3><br>
  <a href="signup">Sign up</a>
  </form>
  </h3>

  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}} 

</div>


