<div>

  <h3>Login please</h3>
  <form action="/login" method="POST">

    <label>
      Email
      <input class="input-bottom-line" type="text" name="email" placeholder="Email" />
    </label>

    <label>Password
      <input class="input-bottom-line" type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Login</button>

  </form>
  
  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}} 

</div>