
<div id="margin">

  <form class="formLogin" action="/signup" method="POST">
  <img class="logoLogin" src="/images/logo.png">
  <h2 class="login">Sign up</h2>
    <label>
      Username
        <label>
      <input class="input-bottom-line" type="text" name="name" placeholder="Username" />
    </label>

    <label>
      Email
      <input class="input-bottom-line" type="text" name="email" placeholder="Email" />
    </label>

    <label>
      Password
     <input class="input-bottom-line" type="password" name="password" placeholder="********" />
    </label>

        <button class="button-green width" type="submit">Sign up</button>
  </form>

  <form action="/categories" method="POST"></form>


  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}}

</div>