
<div id="signUpPage">

<div id="signUpImg">
   <img src="/images/logo.png">
</div>


<div id="form2">
  <form action="/signup" method="POST">
  <h2 class="signUp">Sign up</h2>
    <label>
      Username
      <input type="text" name="name" placeholder="Username" />
    </label>

    <label>
      Email
      <input type="text" name="email" placeholder="Email" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Create account</button>

  </form>


  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}}
</div>

</div>