<div class="container" id="signUpImg">
   

  <form id="form2" action="/signup" method="POST">
  <img class="logo" src="/images/logo.png">
  <h2 class="signUp">Sign up</h2>
  <br><br>
    
    <label>
      Username
       <br><br>
      <input class="input-bottom-line two" type="text" name="name" placeholder="Username" />
    </label>

<br><br>

    <label>
      Email
       <br><br>
      <input class="input-bottom-line two" type="text" name="email" placeholder="Email" />
    
    </label>

<br><br>

    <label>
      Password
       <br><br>
      <input class="input-bottom-line two" type="password" name="password" placeholder="********" />
    </label>

    <br><br>

    <button class="button-green" type="submit">Create account</button>

  </form>


  {{#if errorMessage}}
    <p>There was a problem: {{errorMessage}}</p>
  {{/if}}


</div>
