@import url("style.css");



.dropDown {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
	border-bottom: #2bb24c 2px solid

  }

  .imput-bottom-line{
    
  }

  
.container{
    height:100%;
    width: 63%;
    position: absolute;
    top: 42%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 15%;
    border-radius: 25px;
    background-color: rgba(0,0,0,.05);
    padding: 50px;
    /* margin-top: 5%;
    margin-left: 15px; */
  }
  
.formAdd{
      text-align: center;

      padding: 15px;
      padding-bottom: 40px;
  }


  .fields{
    
    margin-top: 50px;
    margin-bottom: 50px;
    
  }


.category{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}



[type=checkbox] {
    display: none;
    background-image: url(/public/images/profileImage.png);
  }

[type=checkbox] + label {
    display: block;
    padding: 1em;

  }

[type=checkbox]:checked + label {
    color: blue;
    box-shadow: 0 0 0.5em black;

  }

