@import url("style.css");



.dropDown {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
	border-bottom: #2bb24c 2px solid

  }

  

  
.container{
    height:100%;
    width: 63%;
    position: absolute;
    top: 42%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 30%;
    border-radius: 25px;
    background-color: rgba(0,0,0,.05);
    padding: 50px;
    /* margin-top: 5%;
    margin-left: 15px; */
  }
  
.formAdd{
      text-align: center;
      margin-top: 20px;

      padding: 15px;
      padding-bottom: 40px;
  }


  .fields{
    
    margin-top: 50px;
    margin-bottom: 50px;
    
  }


.category{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
   
}

.category label:nth-child(2){
  background-image: url("https://res.cloudinary.com/dz2hyfmhw/image/upload/v1652977429/Ironfeeds/general_1_wo54ep.jpg");
  background-size: cover;
}

.category label:nth-child(4){
  background-image: url("https://res.cloudinary.com/dz2hyfmhw/image/upload/v1652977429/Ironfeeds/bussiness1_j34pbe.jpg");
}
.category label:nth-child(6){
  background-image: url("https://res.cloudinary.com/dz2hyfmhw/image/upload/v1652977429/Ironfeeds/enntreteniment1_plqgv8.jpg");
}
.category label:nth-child(8){
  background-image: url("https://res.cloudinary.com/dz2hyfmhw/image/upload/v1652977428/Ironfeeds/Health_1_uoomdb.jpg");
}
.category label:nth-child(9){
  background-image: url("https://res.cloudinary.com/dz2hyfmhw/image/upload/v1652977428/Ironfeeds/science_1_ypzbzz.jpg");
}

.category label:nth-child(10){
  background-image: url("https://res.cloudinary.com/dz2hyfmhw/image/upload/v1652977428/Ironfeeds/sports_ft47xr.jpg");
}

.category label:nth-child(12){
  background-image: url("https://res.cloudinary.com/dz2hyfmhw/image/upload/v1652977429/Ironfeeds/generalBlack_phefr3.jpg");
}


[type=checkbox] {
    display: none;
    background-image: url(/public/images/profileImage.png);
  }

[type=checkbox] + label {
    display: block;
    padding: 1em;

  }

[type=checkbox]:checked + label {
    color: blue;
    box-shadow: 0 0 0.5em black;

  }

