@import url("style.css");

.containerSign{
    height:80%;
    width: 66%;
    position: absolute;
    top: 42%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 15%;
    border-radius: 25px;
    background-color: rgba(0,0,0,.05);
    padding: 50px;

   
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.signUp{
    text-align: center;
}

.two{
    
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
  
}

  .btn-login:hover {
      background-color: black;
}

form2{
    margin-left: 20%;

}

.formLogin {
    padding: 80px;
    margin-top: 40px;
}

.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}





 .formSignup{        /*this is for the don't account and link */
    text-align: center;
    padding: 80px;
    padding-bottom: 40px;
    margin-top: -180px;
}

