:root{
	--white-color: #fff;
	--black-color: #000000;
	--light-grey-color: #D4BFBF;
	--orange-color: #FFA916;
	--red-color: #FF0F0F;
}


* {
	margin: 0;
	
}


body {
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
