:root{
	--white-color: #fff;
	--black-color: #000000;
	--light-grey-color: #D4BFBF;
	--orange-color: #FFA916;
	--red-color: #FF0F0F;
}


* {
	margin: 0;
	
	
}


body {
	font-size: 16px;
	font-family: 'Newsreader', serif;
    /* font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
	
}
